.idea
.vscode/*

node_modules
.env
coverage
coverage.json
typechain
yarn-error.log

dist

# Hardhat files
cache
deployments/hardhat
deployments/localhost
# Exported artifacts
artifacts
*.dbg.json

# openzeppelin deployment plugin artefacts
.openzeppelin/unknown-31337.json
